body {
    background-color: #131623 !important;

}
#content {
    background-color: #131623 !important;
}
/* =======================================
    PORTAL
========================================== */
.portal {
      background: linear-gradient(
      rgba(19, 22, 35, 0.8),
      rgba(19, 22, 35, 0.8)
    ), url(../images/man-hands-working-technology.jpg) center center no-repeat scroll;
    background-size: cover;
    width: 100%;
    min-height: 800px;
}
