/* =======================================
    GENERAL
========================================== */
body {
  background-color: #1A1E29 !important;
}
#content {
  background-color: #1A1E29 !important;
}
.responsive-img {
  max-width: 100%;
}
/* =======================================
    PORTAL
========================================== */
.portal {
  background: linear-gradient(rgba(19, 22, 35, 0.9), rgba(19, 22, 35, 0.9)), url(../images/man-hands-working-technology.jpg) center top no-repeat scroll;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.logo-portal {
  padding: 40px 0;
}
.logo-portal img {
  display: block;
  margin: 0 auto;
}
.logo-dic {
  padding: 30% 0;
}
.logo-dic a {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  overflow: visible;
  text-align: center;
  display: block;
}
.logo-dic a i {
  display: block;
  margin-bottom: 30px;
  font-size: 40px;
}
.logo-dic a span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
  position: relative;
  top: 10px;
  display: block;
}
/* =======================================
    HEADER
========================================== */
.header {
  color: #fff;
}
.header .container {
  padding: 20px 0;
}
.header .container .col-xs-8 {
  line-height: 2.5;
  color: #fff;
}
.header .container .col-xs-8 h4 {
  font-weight: 500 !important;
  font-size: 16px;
  text-align: center;
}
.header a.open-menu:hover {
  color: #30c4f1;
}
/* =======================================
    NAV
========================================== */
.sidebar-header a i.icon {
  display: block;
  line-height: 3.4;
}
.snap-drawers {
  position: relative;
}
/* =======================================
    MIN-NAV
========================================== */
#min-nav {
  background-color: #131623;
}
#min-nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#min-nav ul li {
  list-style: none;
  text-align: center;
  width: 33%;
  margin: 14px 0;
}
#min-nav ul li:nth-child(even) {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
#min-nav ul li a {
  display: flex;
  align-items: flex-start;
  text-align: center;
  padding: 6px;
}
#min-nav ul li a span {
  width: 100%;
  font-size: 26px;
  margin: 0 auto;
  color: #fff;
}
#min-nav ul li a span:hover,
#min-nav ul li a span .active {
  color: #187dd3;
}
/* =======================================
  BUSCAR
========================================== */
.buscar input {
  width: 100%;
  padding: 14px 20px;
  background-color: #ddd;
  font-size: 16px;
}
.accordion {
  padding: 10px 10px;
  list-style: none;
}
.accordion li {
  list-style: none;
}
.accordion li a {
  border-bottom: 1px solid #dadada;
  color: #0e73c9;
  text-transform: uppercase;
}
.accordion li a .icon {
  font-size: 40px;
  margin-right: 10px;
  vertical-align: middle;
  color: #0e73c9;
}
.accordion li a .title {
  font-size: 20px;
}
.accordion li a:after {
  content: "\e199";
  font-family: "budicon";
  float: right;
  line-height: 40px;
  color: #dadada;
  font-size: 20px;
}
.accordion li .acc-submenus {
  padding: 20px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.accordion li .acc-submenus li {
  padding: 2px;
}
.accordion li .acc-submenus li .rounded {
  border: none !important;
  font-size: 40px;
  text-align: center;
  background-color: inherit !important;
  cursor: pointer;
  padding: 2px 6px;
}
.accordion li .acc-submenus li .rounded:hover .icon,
.accordion li .acc-submenus li .rounded .active .icon,
.accordion li .acc-submenus li .rounded:hover .title,
.accordion li .acc-submenus li .rounded .active .title {
  color: #0e73c9;
}
.accordion li .acc-submenus li .rounded .icon {
  display: block;
  font-size: 60px;
  text-align: center;
  color: #4b5058;
}
.accordion li .acc-submenus li .rounded .title {
  font-size: 13px;
  text-align: center;
  color: #3c3e4b;
}
