body {
    background-color: #131623 !important;

}
#content {
    background-color: #131623 !important;
}

/* =======================================
    GENERAL
========================================== */
.responsive-img {

}

/* =======================================
    PORTAL
========================================== */
.portal {
  background: linear-gradient(
  rgba(19, 22, 35, 0.9),
  rgba(19, 22, 35, 0.9)
  ), url(../images/man-hands-working-technology.jpg) center top no-repeat scroll;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.logo-portal  {
  padding: 40px 0;
}
.logo-portal img {
  display: block;
  margin: 0 auto;
}
.logo-dic {
  padding: 30% 0;
}
.logo-dic a {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  overflow: visible;
  text-align: center;
  display: block;
}
.logo-dic a i {
  display: block;
  margin-bottom: 30px;
  font-size: 40px;
}
.logo-dic a span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
  position: relative;
  top: 10px;
}